src/test/resources/sample/xsd/locations.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="element">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:unsignedByte" />
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="seconds" type="xs:unsignedInt" />
                            <xs:element name="millis" type="xs:unsignedInt" />
                        </xs:sequence>
                        <xs:attribute name="continent" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
</xs:schema>
